{
	log {
		format console
		level INFO
	}
}

http://localhost {
	encode gzip zstd

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	@auth path /api/v1/auth /api/v1/auth/*
	handle @auth {
		reverse_proxy auth-service:5000
	}

	@chats path /api/v1/chats /api/v1/chats/*
	handle @chats {
		reverse_proxy chats-service:8080
	}

	@profiles path /api/v1/profiles /api/v1/profiles/*
	handle @profiles {
		reverse_proxy profile-service:5000
	}

	handle {
		reverse_proxy frontend-service:8080
	}
}
